{% extends 'layout.html' %}
    {% block content %}


    <section class="header">
        <h1>Danielle Murray Portfolio</h1>
        <br>
        <p>Constantly trying to learn and improve my knowledge and becoming a great creative Software Engineer</p>
        <img src="static/img/IMG_8390.JPG" alt="Headshot">
    </section>
    <section id="about-page">
        <h2>About Me</h2>
        <p>
    Learn more about me:
        <br>
I enjoy solving problems and tackling challenging tasks. I randomly became interested in programming and learning code by watching my brother as he is a Computer Scientist and when i started my first bootcamp it was really challanging at firsT lol it still is but i fell in love with the challanging part of it all and the feeling of getting your code up and running perfectly and creating something that oter people can use on a daily is an incredible feeling .
<br>
In my free time because of programming it led me to gaming and i enjoy gaming from time to time and i'm currently working on a small game myself for fun and to practice what i've learnt. I enjoy painting, hiking and going camping, reading and listening to music is also one of my few hobbies. 
        </p>
        <a href="ADD MY CV HERE AFTER UPDATING IT" target="_blank"><i class="far fa-file"></i>Resume</a>
    </section>
    {% endblock %}
