{% extends 'layout.html' %}
{% block content %}
        <section class="header">
            <h1>Full-Stack Software Developer</h1>
            <p>“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” – Martin Fowler</p>
            <img src="/static/img/IMG_8390.JPG" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2>About Me</h2>
            <p>
                Hi I am a newcomer to programming. I aspire to be a Full-Stack Software Engineer. I enjoy the journey of learning something new and this new world of coding has been so exciting, sometimes tricky lol but so worth it.I want to continue learning and doing my best.
            </p>
            <div id="triangle1"></div>
            <div id="triangle2"></div>
        </section>
        <section id="skills">
            <i class="fas fa-laptop-code"></i>
            <h2>Skills</h2>
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
                <li>Java</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>SQL</li>
                <li>Flask</li>
                <li>SQLAlchemy</li>
                <li>GitHub</li>
                <li>OOP</li>
                <li>Business Systems Analysis</li>
            </ul>
        </section>
        <section id="projects">
            <div id="triangle3"></div>
            <i class="fas fa-file-code"></i>
            <h2>Projects</h2>
            {% for project in projects %}
            <div id="project-list">
                <div id="project{{ project.id }}" class="a-project">
                    <a href="{{ url_for('projects_detail', id=project.id) }}" class="nav-link">
                      <h3>{{ project.title }}</h3>
                    </a>
                    <a href="{{ project.url }}" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{ project.description }}
                    </p>
                    <p>
                        Skills: {{ project.skills }}
                    </p>
                </div>
            <div id="triangle4"></div>
            {% endfor %}
        </section>
        <section id="contact">
            <i class="fas fa-paper-plane"></i>
            <h2>Contact Me</h2>
            <p>
                For any questions, comments or advice please don't hesitate to send me an email or cantact me on linkedin. 
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                dmatteamurray@gmail.com
            </p>
        </section>
{% endblock %}